.blog-container {
  background-color: #fafafa;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
  font-weight: 100;
  margin: 48px auto;
  width: 50rem;
  border: 2px solid #fafafa;
  -webkit-transition: 1s ease all;
  -o-transition: 1s ease all;
  transition: 1s ease all; }
  .blog-container:hover {
    border: 2px solid #984D4D; }
  .blog-container .blog-header .blog-cover {
    background: url(../img/dizain-prodvigenie-2.jpg);
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 10rem; }
  .blog-container .blog-body {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 1rem;
    margin-top: 1rem; }
    .blog-container .blog-body h1 a {
      color: #333333;
      font-weight: 700; }
    .blog-container .blog-body .blog-text .p-text {
      color: #4d4d4d;
      font-weight: 500; }
    .blog-container .blog-body .blog-tags ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      list-style: none;
      padding-left: 0; }
      .blog-container .blog-body .blog-tags ul li {
        margin-left: .5rem; }
        .blog-container .blog-body .blog-tags ul li a {
          border: 1px solid #999999;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          color: #999999;
          font-size: .75rem;
          height: 1.5rem;
          line-height: 1.5rem;
          letter-spacing: 1px;
          padding: 0 .5rem;
          text-align: center;
          text-transform: uppercase;
          white-space: nowrap;
          width: 5rem; }
          .blog-container .blog-body .blog-tags ul li a:hover {
            border: 1px solid #99393e; }
  .blog-container .blog-footer {
    border-top: 1px solid #999999;
    margin: 0 auto;
    padding-bottom: .125rem;
    width: 80%; }
    .blog-container .blog-footer ul {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      padding-left: 0; }
      .blog-container .blog-footer ul li {
        color: #999999;
        font-size: .75rem;
        height: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap; }
      .blog-container .blog-footer ul .published-date {
        border: 1px solid #999999;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        padding: .5rem; }
