<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title mirills
        link(rel="stylesheet", href="/styles/main.css")
        link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
    body
        .header
            .logo
                a(href="http://")
                    img(class="graphic_logo" src="/img/logo.png", alt="Логотип")
            .nav
                .topnav(id="myTopnav")
                    a(href="/index.html") HOME
                    a(href="/project.html") Project
                    a(href="/blog.html") blog
                    a(href="/contact.html") contact
                    a(href="/about.html") about
                    a(href="/services.html") services
                    a(href="/location.html") location
                    a(id="menu" href="").icon &#9776;
                    
        main
            .about_container
                img(src="/img/joe-taylor-641989-unsplash.jpg")
                h1 Lorem ipsum dolor sit amet.
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga amet dolorem dolor eveniet temporibus accusantium aliquam, consequuntur tempore nesciunt, optio sapiente reprehenderit mollitia harum sit doloribus culpa obcaecati in voluptas! Autem sapiente eaque voluptate blanditiis! Maiores sunt, voluptatem adipisci, iure iste architecto perferendis dolorum iusto quia minima dolores, atque placeat?
        footer
            .nav
                a(href="/index.html") HOME
                a(href="/project.html") Project
                a(href="/blog.html") blog
                a(href="/contact.htnl") contact
                a(href="/about.html") about
                a(href="/services.html") services
                a(href="/location.html") location
            .logo
                a.graphic_logo(href="")
                    img(src="/img/logo.png", alt="")
            social
                a
                    img(src="/img/icons8-твиттер-100.png")
                a
                    img(src="/img/icons8-главная-100.png")
                a
                    img(src="/img/icons8-камера-100.png")
                a
                    img(src="/img/icons8-телефон-100.png")
                a
                    img(src="/img/icons8-направо-100.png")
            .p Web Developer Blog 2017

        script(src="/js/script.js")
