<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/flexslider.css">
	<link rel="stylesheet" href="css/style.css">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="js/jquery.flexslider-min.js"></script>
	<script src="js/slider.js"></script>




</head>
<body>
	<div class="flexslider">
  <ul class="slides">
    <li>
      <img src="img/1.jpg" />
      <p class="flex-caption">Adventurer Cheesecake Brownie</p>
    </li>
    <li>
      <img src="img/2.jpg" />
      <p class="flex-caption">Adventurer Lemon</p>
    </li>
    <li>
      <img src="img/3.jpg" />
      <p class="flex-caption">Adventurer Donut</p>
    </li>
    <li>
      <img src="img/4.jpg" />
      <p class="flex-caption">Adventurer Caramel</p>
    </li>
  </ul>
</div>

</body>
</html>